.wrapper {
  border: 1px solid black;
  min-width: 300px;
  padding: 15px 10px;
  display: flex;
  gap: 15px;
  justify-content: space-between;
  border-radius: 4px;

  p {
    margin: 0;
    display: flex;
    align-items: center;
    gap: 5px;

    span {
      display: flex;
      justify-content: center;
      align-items: center;
    }
  }

  .button {
    background-color: rgb(135, 206, 250, 0.6);
    border: none;
    border-radius: 4px;
    padding: 10px 20px;
    transition: background-color 0.2s ease; /* Плавное изменение цвета фона */
  }

  .button:hover {
    background-color: rgb(
      135,
      206,
      250,
      0.9
    ); /* Увеличение прозрачности при наведении */
  }
}
